{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Service page</h1>
                <p>This came from backend   {{index .StringSlice 0}}</p>

                <p>Table of data</p>

                                    <table border="2">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Occupation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                      
                                            <tr>
                                                <td>{{index .StringSlice 1}}</td>
                                                <td>{{index .StringSlice 2}}</td>
                                         
                                            </tr>
                                                                                 
                                            <tr>
                                                <td>{{index .StringSlice 3}}</td>
                                                <td>{{index .StringSlice 4}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
              </div>
        </div>
    </div>
{{end}}
